
@media (min-width: 1000px) {

  :local(.container) {
    margin-top: 100px;
    margin: 100px;
    padding-bottom: 100px;
  }

}


:local(.list) {
  text-align: left;
}

:local(.textRight) {
  text-align: right;
}


:local(.modal) {
  background-color: white;
  position: absolute;
  margin: 120px auto;
  padding: 100px;
  height: 80%;
  box-shadow: 5;
  outline: none,
}

:local(.gridMargin) {
  margin: 20px;
}

:local(.paddingTop) {
  padding-top: 50px;
}