:local(.container) {
  display: 'flex';
  flex-wrap: 'wrap';
}

:local(.textField) {
  margin-left: 20px !important;
  margin-right: 20px;
}

:local(.dense) {
  margin-top: 16;
}

:local(.menu) {
  width: 100;
}

:local(.layout) {
  width: 'auto';
  width: 600;

}

:local(.paper) {
  margin-left: auto;
  margin-right: auto;
  width: 'auto';
  margin-top: 400 * 3;
  margin-bottom: 400 * 3;
  padding: 400 * 2;
  width: 600px;
}

:local(.stepper) {
  padding: 400*3 0 400*5
}

:local(.buttons) {
  display: 'flex';
    justifyContent: 'flex-end';
}

:local(.button) {
  marginTop: 400 * 3;
    marginLeft: 400;
}