
.container {
  margin-bottom: 20px !important;
  background-color: black !important;
}

.title a {
  margin: 30px;
  text-decoration: none;
}

.navButton {
  margin-left: 40px;
  margin-right: 10px;
}

Button a {
  text-decoration: none;
}